@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --text-font: "Raleway", sans-serif;
  --main-font: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9feff;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.blurBg {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* -webkit-filter: blur(10px); */
}
.container {
  /* height: 100px; */
  position: relative;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: white;
}
.logo {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.text {
  display: inline-block;
  margin-left: 20px;
  font-size: 25px;
  color: #fc8b8b;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
}
.logo img {
  width: 50px;
}
.navbar {
  display: flex;
  flex-direction: row;
}
nav {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  /* padding: 20px 0px ; */
}
.navbar li {
  list-style: none;
  margin: 0px 60px;
  font-size: 20px;
  display: inline-block;
}
.navbar li a {
  text-decoration: none;
  color: white;
}

.body-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top {
  height: 30%;
  width: 100%;
}
.bottom {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-txt {
  font-family: poppins;
  position: relative;
  top: 45%;
}
.main-txt h1 {
  font-size: 64px;
  text-align: center;
  margin: 20px 0px;
  color: #fc8b8b;
  letter-spacing: 4px;
}
.main-txt p {
  font-family: var(--text-font);
  font-size: 24px;
  text-align: center;
  color: #fff;
}
.megainput {
  position: relative;
  top: 30%;
  display: flex;
}
.megainput input {
  border: 2px solid #fc8b8b;
  border-radius: 12px 0px 0px 12px;
  padding: 26px 60px;
  width: 640px;
  color: #61536e;
  outline: none;
  font-size: 18px;
  background: #f3f3f311;
  height: 77px;
}
.searchjob {
  border: 2px solid rgba(201, 187, 253, 0.87);
  border-radius: 0px 12px 12px 0px;
  cursor: pointer;
  padding: 26px 60px;
  background: transparent;
  font-size: 18px;
  color: white;
  height: 77px;
}
.megainput input:focus {
  border: 2px solid rgb(115, 184, 240);
}
.searchjob:hover {
  color: #fc8b8b;
}
.megainput input:hover {
  background-color: rgba(190, 190, 190, 0.274);
  color: aliceblue;
}
.megainput input {
  box-shadow: 0px 6px 10px rgba(255, 249, 249, 0.2);
}
.searchjob {
  box-shadow: 0px 6px 10px rgba(255, 249, 249, 0.2);
}

@media (max-width: 1160px) {
  .navbar li {
    margin: 0px 30px;
  }
}

@media (max-width: 940px) {
  .logo img {
    width: 40px;
  }
  .logo .text {
    font-size: 20px;
    font-weight: 600;
  }
  .navbar li {
    margin: 0px 20px;
  }
  .megainput input {
    width: 400px;
  }
  .megainput .searchjob {
    width: 170px;
    font-size: 14px;
    padding: 20px;
  }
}
@media (max-width: 670px) {
  .logo {
    position: relative;

    justify-content: center;
    left: 23%;
  }
  .logo img {
    width: 40px;
  }
  .logo .text {
    font-size: 20px;
    font-weight: 600;
  }

  .navbar li {
    
    position: relative;
    top: 60px;
    right: 4%;
    font-size: 18px;
  }
  .main-txt h1 {
    margin-top: 80px;
    font-size: 50px;
  }
  .main-txt p {
    font-size: 20px;
  }
  .megainput input {
    width: 300px;
  }
  .megainput .searchjob {
    width: 130px;
    font-size: 14px;
    padding: 20px;
  }
  .menu-btn {
    display: flex;
    margin-right: 40px;
  }
}
@media (max-width: 470px) {
  .navbar li {
    display: flex;
    position: relative;
    top: 60px;
    font-size: 18px;
  }
  .main-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo {
  }
  .main-txt h1 {
    margin-top: 10px;
    font-size: 30px;
  }
  .main-txt p {
    width: 80%;
    font-size: 16px;
  }
  .megainput input {
    width: 230px;
    height: 60px;
    font-size: 13px;
    padding: 20px 20px;
  }
  .megainput .searchjob {
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 14px;
    padding: 10px 10px;
  }
}
